NODE_ENV=development
DB_NAME=db
DB_USERNAME=user
DB_PASSWORD=password
DB_PORT=5432
DATABASE_URL=postgres://user:password@localhost:5432/db
BETTER_AUTH_SECRET=fBkgRwzezEwgFIL1HNZQyWte09ePwk6W
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
